body{
	text-align: center;
	background-image: url("https://hdwallsource.com/img/2014/5/free-asteroid-wallpaper-29282-30001-hd-wallpapers.jpg");
}

.main{
	
}
.random {
	color:#A239CA;
	background-color:#14141f;
	width:60%;
	margin-left:20%;

}
#end-stats{
	margin-top: 60px;
}

